<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fomema Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Bootstrap -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- Date Range Picker -->
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- Make sure to include your custom scripts here if needed -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'stylenew' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylenew.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstap.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/daterangepicker.css" />
    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/moment.min.js"></script>
    <script type="text/javascript" src="/assets/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  </head>
  <body class="noscrolbar">
    <div class="header">
      <nav class="navbar navbar-expand-md bg-light navbar-dark">
        <div class="admin-logo">
          <img src="../logo.png">
        </div>
        <!-- Topbar Search -->
        <div class="nav-title">
          <span>Dashboard </span>
          <h1>Foreign Workers Information</h1>
        </div>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="filter-content mx-0 px-0">
              <div class="filter-li">
                <span id="sidebarCollapse">
                  <b>
                    <i class="fa fa-filter"></i>
                  </b> &nbsp;Filter By </span>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="filter-content mx-0 px-0 no-arrow" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="filter-li">
                <span>
                  <b>
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </b> &nbsp;Export </span>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
                  <ul class="li-profile">
                    <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a onclick= "excel_generate()" class="dropdown-item">
                        <i class="fa fa-file-pdf-o"></i>Excel </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
            <!-- Dropdown - User Information -->
          <li class="nav-item dropdown">
            <div class="filter-content mx-0 px-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="filter-li">
                <span>
                  <b>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </b> &nbsp;Refresh </span>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
                  <ul class="li-profile">
                    <li  style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a class="dropdown-item" id="div2min" onclick="handleRefreshInterval(120000)"> 5 Min </a>
                    </li>
                    <li  style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a id="div1min" onclick="handleRefreshInterval(60000)" class="dropdown-item">10 Min</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
            <li class="nav-item dropdown mx-2">
            <a class="nav-link admin-name dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Dashboard</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
              <ul class="li-profile">
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="/first_dashboard/index">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 1 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="/second_dashboard/index">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 2 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="/third_dashboard/index">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 3 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="/customer_satisfaction/index">
                    <i class="fa fa-dashboard mx-2"></i>Dashbaord 4 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="/service_provider/index">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 5 </a>
                </li>
        </ul>
      </nav>
    </div>
    <div class="dashboard-body">
      <div class="chard-box">
         <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="tags collapse" id="tag_demo">
                <span><div id="timeperiodselected"></div></span>
                <span id="spansector"><div id="sectorselected"></div></span>
                <span id="spanstate"><div id="stateselected"></div></span>
                <span id="spancountry"><div id="countryselected"></div></span>
                <span id="spanage"><div id="ageselected"></div> </span>
                 <span id="spangender"><div id="genderselected"></div> </span>
                  <span id="spanreg"><div id="regselected"></div> </span>
                   <span id="spanfw"><div id="fwselected"></div> </span>
                <a class="close" data-toggle="collapse" data-target="#tag_demo" style="font-size: 18px;">&times;</a>
              </div>
            </div>
          </div>
        </div>        
        <div>
          <div class="wrapper">
            <!-- Sidebar  --><%= render 'side_bar'%>
            <!-- Page Content  -->
            <div id="dash_board_1"><%= render 'dash_board_1_body'%> </div>
  </body>
</html>
<script type="text/javascript">
   var checkedValues = {};
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

      $('#sectorcheckall').on("click", function () {
           $('input[name="sectorcheck"]').prop('checked',false);
            $('input[name="sectorcheck"]').prop('checked',this.checked);
        });
        $('#statecheckall').on("click", function () {
            $('input[name="statecheck"]').prop('checked',false);
            $('input[name="statecheck"]').prop('checked',this.checked);
        });
        $('#countrycheckall').on("click", function () {
          $('input[name="countrycheck"]').prop('checked',false);
            var countryCheckboxes = $('input[name="countrycheck"]');
            countryCheckboxes.prop('checked', this.checked);
            // Check or uncheck the "Others" checkbox as well
            $('#Country input[name="countrycheck"][value="Others"]').prop('checked', this.checked);
            // Add "Others" and all countries to the selected values
            var allCountries = <%= @countries.to_json.html_safe %>;
            checkedValues['Country'] = ['Others'].concat(allCountries);
        });
        $('#agecheckall').on("click", function () {
           $('input[name="agecheck"]').prop('checked',false);
            $('input[name="agecheck"]').prop('checked',this.checked);
        });
        $('#gendercheckall').on("click", function () {
           $('input[name="gendercheck"]').prop('checked',false);
            $('input[name="gendercheck"]').prop('checked',this.checked);
        });
        $('#registrationcheckall').on("click", function () {
             $('input[name="registrationcheck"]').prop('checked',false);
             $('input[name="registrationcheck"]').prop('checked',this.checked);
        });
        $('#foreignworkercheckall').on("click", function () {
           $('input[name="foreignworkercheck"]').prop('checked',false);
            $('input[name="foreignworkercheck"]').prop('checked',this.checked);
        });   
    //     $('input[type="radio"]').click(function(){
    //     var inputValue = $(this).attr("value");
    //     var targetBox = $("." + inputValue);
    //     $("listcard-box").not(targetBox).hide();
    //     $(targetBox).show();
    // });
  });
   function apply_filter() {
        var selectedValues = JSON.stringify(getCheckedValues());
        $('#timeperiodselected')[0].innerHTML=JSON.parse(selectedValues).DateRange;
        if(JSON.parse(selectedValues).Sector!=""){
            $('#spansector').css("display","block")
         $('#sectorselected')[0].innerHTML=JSON.parse(selectedValues).Sector;
        }
        else
          $('#spansector').css("display","none")
        if(JSON.parse(selectedValues).State!=""){
           $('#spanstate').css("display","block")
           $('#stateselected')[0].innerHTML=JSON.parse(selectedValues).State;
        }
        else{
          $('#spanstate').css("display","none")
        }
        if(JSON.parse(selectedValues).Country!=""){
         $('#spancountry').css("display","block")
         $('#countryselected')[0].innerHTML=JSON.parse(selectedValues).Country;
        }
        else
          $('#spancountry').css("display","none")
       if(JSON.parse(selectedValues).age!=""){
        $('#spanage').css("display","block")
         $('#ageselected')[0].innerHTML=JSON.parse(selectedValues).age;
       }
       else{
        $('#spanage').css("display","none")
       }
       if(JSON.parse(selectedValues).Gender!=""){
         $('#spangender').css("display","block")
         $('#genderselected')[0].innerHTML=JSON.parse(selectedValues).Gender;
       }
       else{
         $('#spangender').css("display","none")
       }
       if(JSON.parse(selectedValues).Registration!=""){
         $('#spanreg').css("display","block")
         $('#regselected')[0].innerHTML=JSON.parse(selectedValues).Registration;
       }
       else{
        $('#spanreg').css("display","none")
       }
       if(JSON.parse(selectedValues).ForeginWorker!=""){
         $('#spanfw').css("display","block")
         $('#fwselected')[0].innerHTML=JSON.parse(selectedValues).ForeginWorker;
       }
       else{
         $('#spanfw').css("display","none")
       }
        $.ajax({
            type: 'GET',
            url: '/first_dashboard/index.js', // Replace with your Rails route
            data: selectedValues
        });
    }
  function filtervalues() {
        var checkedValues = {};

        checkedValues['Sector'] = $('input[name="sectorcheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['Country'] = $('input[name="countrycheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['State'] = $('input[name="statecheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['Gender'] = $('input[name="gendercheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['age'] = $('input[name="agecheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['ForeginWorker'] = $('input[name="foreignworkercheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        checkedValues['Registration'] = $('input[name="registrationcheck"]:checked').map(function () {
            return $(this).val();
        }).get().join(' ');

        $.ajax({
            type: 'GET',
            url: '/first_dashboard/filterapply',

            data: checkedValues,
            error: function (jqXHR, textStatus, errorThrown) {
            },

            success: function (data, textStatus, jqXHR) {

            }

        });


    }

    function clear_filter() {
        location.reload();
    }
 function saveRefreshInterval(interval) {
    const formData = {
        dashboard_interval: interval,
        dashboard_name: "fw_information"
    };
 
    $.ajax({
        url: '/refresh_dashboards',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function (data) {
            startAutoRefresh(interval);
        },
        error: function (error) {
            console.error('Error saving refresh interval:', error);
            
        }
    });
  }
 
  function getRefreshInterval() {
      $.ajax({
          url: '/refresh_dashboards',
          type: 'GET',
          contentType: 'application/json',
          data: { dashboard_name: 'fw_information' },
          success: function (data) {
              startAutoRefresh(data.interval);
              setDropdownItemByInterval(data.interval)
          },
          error: function (error) {
              console.error('Error getting refresh interval:', error);
          }
      });
  }
 
  function startAutoRefresh(interval) {
    clearInterval(window.refreshInterval);
 
    window.refreshInterval = setInterval(function() {
      location.reload();
    }, interval);
  }
 
  document.addEventListener('DOMContentLoaded', function() {
    const savedInterval = getRefreshInterval()
    if (savedInterval) {
      handleRefreshInterval(parseInt(savedInterval, 10));
    }
  }); 
  function handleRefreshInterval(interval) {
    saveRefreshInterval(interval);
    var dropdownItems = document.querySelectorAll('.dropdown-item');
    dropdownItems.forEach(function (item) {
      item.classList.remove('selected');
    });
 
    event.target.classList.add('selected');
    setDropdownItemByInterval(interval);
  }
  function setDropdownItemByInterval(interval) {
      var dropdownItems = document.querySelectorAll('.dropdown-item');
      dropdownItems.forEach(function (item) {
          item.classList.remove('selected');
      });
 
     var selectedDropdownItem = document.querySelector(`#div${interval / 60000}min`);
      if (selectedDropdownItem) {
          selectedDropdownItem.classList.add('selected');
      }
  }

</script>
<style>
  .filter {
    margin-bottom: 14px;
    width: 100%;
    float: right;
  }
</style>
<script type="text/javascript">
function five_min_reload(){
    setTimeout(function() {
      location.reload();
    }, 300000); 
}  
function ten_min_reload(){
    setTimeout(function() {
      location.reload();
    }, 600000); 
}  
  var count = 0;

    function setReloadInterval(interval) {
        clearInterval(myInterval); // Clear any previously set intervals
        myInterval = setInterval(function () {
            count++; // Increment the count
            console.log("Count: " + count); // Display count in the console
            window.location.reload(); // Refresh the page
        }, interval * 1000); // Convert seconds to milliseconds
    }

    var myInterval; // Declare a variable to store the interval
</script>


